---
- name: Gather facts for PersistentVolumeClaim
  hosts: localhost
  connection: local
  tasks:
    - name: facts for PVC pvc-demo in default namespaces
      k8s_facts:
        kind: PersistentVolumeClaim
        name: pvc-demo
        namespace: default
      register: pvc_facts
    - debug:
        var: pvc_facts
    - name: facts for PVCs in all namespaces
      k8s_facts:
        kind: PersistentVolumeClaim
      register: pvcs_facts
    - debug:
        var: pvcs_facts
